<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :book_title %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author, id: :book_author %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.text_field :category, id: :book_category %>
  </div>

  <div class="field">
    <%= form.label :cover_type %>
    <%= form.text_field :cover_type, id: :book_cover_type %>
  </div>

  <div class="field">
    <%= form.label :page_count %>
    <%= form.number_field :page_count, id: :book_page_count %>
  </div>

  <div class="field">
    <%= form.label :publisher %>
    <%= form.text_field :publisher, id: :book_publisher %>
  </div>

  <div class="field">
    <%= form.label :language %>
    <%= form.text_field :language, id: :book_language %>
  </div>

  <div class="field">
    <%= form.label :isbn_ten %>
    <%= form.number_field :isbn_ten, id: :book_isbn_ten %>
  </div>

  <div class="field">
    <%= form.label :dimensions %>
    <%= form.text_field :dimensions, id: :book_dimensions %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :book_price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
