<p id="notice"><%= notice %></p>

<h1>Listing Books</h1>

<%= form_tag books_path, :method => 'get' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "search" %>
<% end %>

<%= link_to "Advanced Search", new_search_path %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Category</th>
      <th>Cover type</th>
      <th>Page count</th>
      <th>Publisher</th>
      <th>Language</th>
      <th>Isbn ten</th>
      <th>Dimensions</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.author %></td>
        <td><%= book.category %></td>
        <td><%= book.cover_type %></td>
        <td><%= book.page_count %></td>
        <td><%= book.publisher %></td>
        <td><%= book.language %></td>
        <td><%= book.isbn_ten %></td>
        <td><%= book.dimensions %></td>
        <td><%= book.price %></td>
        <td><%= link_to 'Show', book %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path %>
